.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    bottom: 58%;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    bottom: 45%;
    z-index: 2;
    left: 7%;

  }
  
  .baloon {
    position: absolute;
    left: 35%;
    bottom: 55%;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 37.5%;
    bottom: 63%;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 70%;
    bottom: 45%;
    z-index: 5;
    margin-left: -2%;
  }