* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
}

.container-form {
  width: 50vw;
  margin: 5vh auto;
}

#form {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.linha-form {
  width: 50vw;
  /* border: 2px solid red; */
  margin: 0 auto;
}

input[type="text"],
input[type="email"] {
  width: 40vw;
  height: 30px;
  border-radius: 5px;
}

.container-btn {
  text-align: center;
  margin-top: 100px;
}