* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 60px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header-container {
  background-color: #323433;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 0;
}

.container-p {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  color: #323433;
}

.container-img {
  max-width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em auto;
}

.img-techs {
  background-color: #efefef;
  padding: 1em 0.5em;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
}

.img-techs h4 {
  padding-bottom: 10px;
}

.container-footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #efefef;
  width: 130px;
  margin: 1.5em auto;
  padding-top: 10px;
}


body {
  background-color: #dadada;
}
