* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.titulo-header {
    margin: 20px auto 20px auto;
    text-align: center;
    width: 90%;
    background-color: bisque;
}

#menu {
    background-color: red;
    width: 90%;
    height: auto;
    margin: 0 auto 20px auto;
    text-align: center;
}

#menu a {
    text-decoration: none;
}

.nav-menu ul li {
    display: inline-block;
    margin: 0 10px 0 10px;
    text-transform: uppercase;
}

#aside {
    background-color: blue;
    width: 320px;
    height: auto;
    display: inline-block;
    margin-left: 77.5vw;
    /* margin-top: 5vh; */
    padding: 10px 0; 
}

iframe {
    width: 320px;
    height: auto;
}
/* #aside h3 {
    text-align: center;
    vertical-align: center;
    padding: 10px;
    width: 320px;
   
} */

main {
    width: 100vw;
    margin-top: -20vh;
}

.secoes p, .secoes h3, .secoes h2 {
    width: 55vw;
    margin-left: 15vw;

}

/* .fotos-sobre {
    width: 250px;
    border-radius: 50%;
    margin: 20px;
    vertical-align: middle;
} */

.img-01 {
    margin-left: 5vw;
    padding: 10px
}

.container {
    background-color: red;
    
    
}